<h1>Blog Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
        (<span><%= article.status %><span>)
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "add new Article", new_article_path %>

